<section class="products">
    <h2>PRODUCTS</h2>
    <div class="all-products">
        <div class="product">
            <img src="../../../assets/hks.jpg">
            <div class="product-info">
                <h4 class="product-title">HKS MUFFLER
                </h4>
                <p class="product-price">$50</p>
                <a class="product-btn" href="#">Buy Now</a>
            </div>
        </div>
        <div class="product">
            <img src="../../../assets/mags.jpg">
            <div class="product-info">
                <h4 class="product-title">ROTA MAGS
                </h4>
                <p class="product-price">$250</p>
                <a class="product-btn" href="#">Buy Now</a>
            </div>
        </div>
        <div class="product">
            <img src="../../../assets/momo.png">
            <div class="product-info">
                <h4 class="product-title">MOMO STEERING WHEEL
                </h4>
                <p class="product-price">$100</p>
                <a class="product-btn" href="#">Buy Now</a>
            </div>
        </div>
        <div class="product">
            <img src="../../../assets/hood.jpg">
            <div class="product-info">
                <h4 class="product-title">MUGEN RR HOOD 
                    </h4>
                <p class="product-price">$250</p>
                <a class="product-btn" href="#">Buy Now</a>
            </div>
        </div>
    </div>